<h1>Task: <%= @task.task_name %></h1>
<p><b>Definition: </b> <%= @task.definition %></p>
<p><b>Due date: </b> <%= @task.due_date.strftime("%B %d, %Y") %></p>

<p>
	<%= link_to 'Edit task', edit_user_category_task_path(@user, @category, @task) %>
	<%= link_to "Delete", user_category_task_path(@user, @category, @task),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?" } %>
	<%= link_to 'Back to category', user_category_path(@user, @category) %>
	<%= link_to 'Back to dashboard', dashboard_path %>
</p>

<hr>


