<h1>Welcome to your Dashboard, <%= current_user.first_name %> </h1>

<% if !current_user %>
  <h3>You are not signed in!</h3>
<% else %>
  <h3>You are currently signed in as <%= current_user.email %>!</h3>
<% end %>

<h1>Today's Tasks</h1>

<% tasks_for_today_found = false %>

<% @all_category.where(user_id: current_user.id).each do |category| %>
  <% tasks_today_for_category = category.tasks.where(due_date: Date.today) %>

  <% if tasks_today_for_category.any? %>
    <h3><%= category.title %></h3>
    <ul>
      <% tasks_today_for_category.each do |task| %>
        <li>
          <h4><%= task.task_name %></h4>
          <p><b>Definition: </b><%= task.definition %></p>
        </li>
      <% end %>
    </ul>
    <% tasks_for_today_found = true %>
  <% end %>
<% end %>

<% if !tasks_for_today_found %>
  <p>You have no tasks for today.</p>
<% end %>

<h4>My Categories:</h4>
<% if @categories.any? %> 
  <ul>
    <% @categories.each do |category| %>
      <li>
        <%= category.title %> 
        <p>
          <%= link_to "Show category", user_category_path(@user, category) %>
        </p>
        <p>
          <%= link_to "Edit", edit_user_category_path(@user, category) %>
        </p>
        <p>
          <%= link_to "Delete", user_category_path(@user, category),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?" } %>
        </p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Create your first category!</p>
<% end %>

<%= link_to 'Create New Category', new_user_category_path(current_user), class: 'btn btn-primary' %>

<%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>

